<div class="container mt-4">
  <div class="d-flex justify-content-end mb-4">
    <button class="btn btn-primary" (click)="navigateToAddForm()">Add Post</button>
  </div>
  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let item of items">
      {{ item.title }}
      <div>
        <button class="btn btn-sm btn-info me-2" (click)="onItemClick(item.id); $event.stopPropagation()">Edit</button>
        <button class="btn btn-sm btn-danger" (click)="deletePost(item.id); $event.stopPropagation()">Delete</button>
      </div>
    </li>
  </ul>
</div>
